# Environnements virtuels Python
venv/
.env/
ENV/
.venv/

# Fichiers temporaires Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configurations d'éditeur
.vscode/
.idea/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers générés par Streamlit et Données sensibles éventuelles
.streamlit/

# Archives générées
*.zip

# Fichiers de logs éventuels
*.log

# Fichiers de tests/données locales
tests/
